# 라이브러리 임포트

In [ ]:
# 지도 그리기 위한 라이브러리
import folium

import pandas as pd

# 서울

In [ ]:
geo_json = 'https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json'

In [ ]:
seoul = pd.read_csv('https://raw.githubusercontent.com/Jyeonni/eco/main/map_visualization/seoul_data.csv')
seoul.head()

  district     total
0      강남구  0.617695
1      강동구  0.530698
2      강북구  0.402210
3      강서구  0.434969
4      관악구  0.453405

In [ ]:
m = folium.Map(
    location=[37.566345, 126.977893],
    tiles='Mapbox Bright'
)
# 아무것도 안 나오는 게 정상입니다

In [ ]:
folium.Choropleth(
    geo_data=geo_json,
    name='choropleth',
    data=seoul,
    columns=['district', 'total'],
    key_on='feature.properties.name',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
).add_to(m)

m

# 부산

In [ ]:
geo_json2 = 'https://raw.githubusercontent.com/southkorea/southkorea-maps/master/kostat/2013/json/skorea_municipalities_geo_simple.json'

In [ ]:
busan = pd.read_csv('https://raw.githubusercontent.com/Jyeonni/eco/main/map_visualization/busan_data.csv')
busan.head()

  district     total
0      강서구  0.346875
1      금정구  0.352727
2      기장군  0.281310
3       남구  0.381010
4       동구  0.379821

In [ ]:
b = folium.Map(
    location=[35.17999, 129.07498],
    tiles='Stamen Terrain'
)
b

In [ ]:
folium.Choropleth(
    geo_data=geo_json2,
    name='choropleth',
    data=busan,
    columns=['district', 'total'],
    key_on='feature.properties.name',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
).add_to(b)

b

# 제주

In [ ]:
jeju = pd.read_csv('https://raw.githubusercontent.com/Jyeonni/eco/main/map_visualization/jeju_data.csv')
jeju.head()

  district     total
0     서귀포시  0.547062
1      제주시  0.519478

In [ ]:
j = folium.Map(
    location=[33.60304, 126.47892],
    tiles='Mapbox Bright'
)
j

In [ ]:
folium.Choropleth(
    geo_data=geo_json2,
    name='choropleth',
    data=jeju,
    columns=['district', 'total'],
    key_on='feature.properties.name',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
).add_to(j)

j

# 참고자료
- json 파일 : https://github.com/southkorea/southkorea-maps/tree/master/kostat/2013/json