# 카카오 API 사용한 스크래핑 코드

### 1. 친환경 매장 : 아름다운 가게

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import requests
import requests
import numpy as np

def location(add_searching, page_num) :
  url = 'https://dapi.kakao.com/v2/local/search/keyword.json'
  params = {'query':add_searching, 'page' : page_num} # page가 4페이지 이상이면 15개의 결과값을 가져온다 
  headers = {"Authorization": "KakaoAK 75ac769cc8a65ecd54420549e41e515d"}

  places = requests.get(url, headers = headers, params = params).json()['documents'] # 결과 15개씩 가져옴
  cnt = requests.get(url, headers = headers, params = params).json()['meta']['total_count'] # 15개 이상이면 for문
  return places, cnt

# 결과를 저장할 리스트
store_list = []
area_name = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주' ]
searching = '아름다운가게 사회복지단체'

for i in range(len(area_name)) :
  page_cnt = 1
  add_searching = area_name[i] + " " + searching

  # 지역별 총 total cnt 구하기
  places, cnt = location(add_searching, 1)

  if cnt <= 15 :
    page_cnt = 1
  elif cnt <= 30:
    page_cnt = 2
  else :
    page_cnt = 3
  
  for y in range(1, page_cnt+1) :
    places, cnt = location(add_searching, y)

    for place in places :
      store_list.append([place['id'], place['place_name'], place['road_address_name'], float(place['x']), float(place['y'])])

df = pd.DataFrame(store_list, columns=["id","가게명","가게주소","x좌표", "y좌표"])
# df.to_excel('beautiful_store_list.xlsx')
df

            id           가게명                  가게주소         x좌표        y좌표
0     16073075  아름다운가게 관악자명점     서울 관악구 남부순환로 1679  126.937339  37.484598
1     10596170    아름다운가게 서초점     서울 서초구 서초대로56길 35  127.017708  37.493067
2    880463218   아름다운가게 동대문점        서울 종로구 난계로 247  127.023007  37.573688
3      9206003    아름다운가게 양재점   서울 강남구 남부순환로351길 34  127.033948  37.486951
4     16558094    아름다운가게 송파점        서울 송파구 가락로 164  127.113529  37.503365
..         ...           ...                   ...         ...        ...
120   15437462  아름다운가게 진주평안점      경남 진주시 진주대로 1081  128.083057  35.195946
121   13579914  아름다운가게 통영중앙점      경남 통영시 통영해안로 331  128.423890  34.844243
122    9896714   아름다운가게 신제주점  제주특별자치도 제주시 원노형9길 10  126.484825  33.488358
123   15437364  아름다운가게 제주동문점  제주특별자치도 제주시 산지로 37-1  126.528477  33.513693
124   18396514   아름다운가게 서귀포점  제주특별자치도 서귀포시 중앙로 167  126.559300  33.259585

[125 rows x 5 columns]

### 2. 친환경 유기농 슈퍼 : 자연드림, 초록마을, 한살림

In [2]:
# 자연드림

# 결과를 저장할 리스트
store_list = []
area_name = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주' ]
searching = '자연드림 유기농슈퍼'

for i in range(len(area_name)) :
  page_cnt = 1
  add_searching = area_name[i] + " " + searching

  # 지역별 총 total cnt 구하기
  places, cnt = location(add_searching, 1)

  if cnt <= 15 :
    page_cnt = 1
  elif cnt <= 30:
    page_cnt = 2
  else :
    page_cnt = 3
  
  for y in range(1, page_cnt+1) :
    places, cnt = location(add_searching, y)

    for place in places :
      store_list.append([place['id'], place['place_name'], place['road_address_name'], float(place['x']), float(place['y'])])

df = pd.DataFrame(store_list, columns=["id","가게명","가게주소","x좌표", "y좌표"])
# df.to_excel('jayeondrim_store_list.xlsx')
df

             id          가게명                   가게주소         x좌표        y좌표
0      18570801   자연드림 서울관악점          서울 관악구 은천로 81  126.944351  37.486972
1      23149360   자연드림 강남대치점        서울 강남구 영동대로 229  127.067469  37.499572
2    2090118530   자연드림 공덕아현점                         126.952754  37.549977
3       8677367   자연드림 양천신정점        서울 양천구 목동동로8길 9  126.870753  37.517927
4      26079368  자연드림 서울북가좌점     서울 서대문구 거북골로14길 32  126.913983  37.575515
..          ...          ...                    ...         ...        ...
237    22884284   자연드림 제주이도점   제주특별자치도 제주시 신설로6길 18  126.543545  33.492469
238    12513965   자연드림 제주연동점     제주특별자치도 제주시 연북로 78  126.489630  33.481501
239   891452692   자연드림 제주동홍점  제주특별자치도 서귀포시 동홍로 49-7  126.567440  33.253066
240     9612248   자연드림 제주노형점    제주특별자치도 제주시 광평동로 40  126.469357  33.483334
241  1968129097   자연드림 제주삼화점   제주특별자치도 제주시 건주로6길 60  126.580338  33.514713

[242 rows x 5 columns]

In [3]:
# 초록마을

# 결과를 저장할 리스트
store_list = []
area_name = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주' ]
searching = '초록마을 유기농슈퍼'

for i in range(len(area_name)) :
  page_cnt = 1
  add_searching = area_name[i] + " " + searching

  # 지역별 총 total cnt 구하기
  places, cnt = location(add_searching, 1)

  if cnt <= 15 :
    page_cnt = 1
  elif cnt <= 30:
    page_cnt = 2
  else :
    page_cnt = 3
  
  for y in range(1, page_cnt+1) :
    places, cnt = location(add_searching, y)

    for place in places :
      store_list.append([place['id'], place['place_name'], place['road_address_name'], float(place['x']), float(place['y'])])

df = pd.DataFrame(store_list, columns=["id","가게명","가게주소","x좌표", "y좌표"])
# df.to_excel('chorocMaeul_store_list.xlsx')
df

             id           가게명                    가게주소         x좌표        y좌표
0       3406313     초록마을 가재울점        서울 서대문구 가재울미래로 2  126.915573  37.573529
1      27562217      초록마을 삼성점       서울 강남구 삼성로119길 49  127.047483  37.514962
2      26341922     초록마을 압구정점       서울 강남구 압구정로29길 65  127.027072  37.531773
3      13069877      초록마을 상봉점          서울 중랑구 면목로 470  127.086414  37.593841
4      13069885      초록마을 중계점        서울 노원구 한글비석로 245  127.076413  37.649118
..          ...           ...                     ...         ...        ...
328   458608494    초록마을 제주첨단점   제주특별자치도 제주시 첨단로동길 106  126.575639  33.451535
329   125030695    초록마을 제주이도점      제주특별자치도 제주시 승천로 83  126.543717  33.491678
330    13069928   초록마을 제주서귀포점  제주특별자치도 서귀포시 일주동로 8540  126.575825  33.254998
331  1957466811    초록마을 제주중문점   제주특별자치도 서귀포시 천제연로 239  126.430483  33.251450
332   443345560  초록마을 제주혁신도시점     제주특별자치도 서귀포시 대청로 33  126.503339  33.252749

[333 rows x 5 columns]

In [4]:
# 한살림

# 결과를 저장할 리스트
store_list = []
area_name = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주' ]
searching = '한살림 유기농슈퍼'

for i in range(len(area_name)) :
  page_cnt = 1
  add_searching = area_name[i] + " " + searching

  # 지역별 총 total cnt 구하기
  places, cnt = location(add_searching, 1)

  if cnt <= 15 :
    page_cnt = 1
  elif cnt <= 30:
    page_cnt = 2
  else :
    page_cnt = 3
  
  for y in range(1, page_cnt+1) :
    places, cnt = location(add_searching, y)

    for place in places :
      store_list.append([place['id'], place['place_name'], place['road_address_name'], float(place['x']), float(place['y'])])

df = pd.DataFrame(store_list, columns=["id","가게명","가게주소","x좌표", "y좌표"])
# df.to_excel('hansalim_store_list.xlsx')
df

             id          가게명                  가게주소         x좌표        y좌표
0    1512880778    한살림 광화문매장        서울 종로구 경희궁길 15  126.971631  37.571405
1      17874313     한살림 연희매장       서울 서대문구 연희맛로 34  126.930894  37.567784
2      11265425     한살림 마포매장        서울 마포구 토정로 269  126.940050  37.542670
3      16047367     한살림 가락매장      서울 송파구 오금로46길 68  127.131194  37.492663
4      11456139     한살림 대치매장      서울 강남구 삼성로51길 11  127.060564  37.496329
..          ...          ...                   ...         ...        ...
199  2029204449     한살림 합천매장     경남 합천군 합천읍 옥산로 16  128.156661  35.568705
200    18663052     한살림 노형매장  제주특별자치도 제주시 과원북4길 11  126.483063  33.481355
201    19928578     한살림 이도매장  제주특별자치도 제주시 남광로4길 35  126.540700  33.490913
202   972949833   한살림 제주담을매장    제주특별자치도 제주시 월광로 12  126.463874  33.482694
203    26326876  한살림 서귀포동홍매장  제주특별자치도 서귀포시 동홍남로 53  126.574013  33.257197

[204 rows x 5 columns]

# 스크래핑

### 제로 웨이스트 샵 - 카카오 지도 북마크 모음
<br>크롤링해온 링크 https://map.kakao.com/?map_type=TYPE_MAP&folderid=4049789&target=other&page=bookmark

In [5]:
import time
import os
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

import requests
import csv
import urllib.request
import urllib.parse
import re
from bs4 import BeautifulSoup

In [6]:
url = "https://map.kakao.com/?map_type=TYPE_MAP&folderid=4049789&target=other&page=bookmark"

# step2
from selenium import webdriver
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

# step3
driver = webdriver.Chrome('chromedriver',options=options)

driver.get(url)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [7]:
store_lists = []
# 전체 박스
box = driver.find_element_by_css_selector('#other\.favorite > ul')
tot_cnt = driver.find_element_by_css_selector('#info\.other > div.header > div > div.FavoriteDetailSummary > div.info_summary > div:nth-child(1) > a > em').text

page_cnt = int(tot_cnt) // 100 + 1 # 페이지 수
cnt = int(tot_cnt) # 결과값


for i in range(1, page_cnt + 1) :
  driver.find_element_by_css_selector("#info\.other\.favorite\.page\.no"+str(i)).send_keys(Keys.ENTER) # 페이지 넘기기
  print(i,'페이지')
  
  if cnt < 100 :
    tmp_cnt = cnt
  elif cnt > 100 :
    tmp_cnt = 100

  for x in range(1, tmp_cnt + 1) :
    try :
      # 가게명
      store_name = box.find_element_by_css_selector('li:nth-child('+str(x)+') > div.FavoriteInformationBundle > div > div > div.tit_directory > strong > a').text
      # 가게주소
      store_address = box.find_element_by_css_selector('li:nth-child('+str(x)+') > div.FavoriteInformationBundle > div > div > div.desc_directory > span').text
      # 상세정보
      store_detail = box.find_element_by_css_selector('li:nth-child('+str(x)+') > div.FavoriteInformationBundle > div > div > div.desc_directory > p.desc_detail').text
    except :
      store_detail = ''

    # 리스트에 넣기
    store_lists.append([store_name, store_address, store_detail])

  cnt -= 100 # 한 페이지 끝나면 100 빼기

1 페이지
2 페이지

In [8]:
df = pd.DataFrame(store_lists, columns=["가게명","가게주소","상세정보"])
# df.to_excel('가게_제로웨이스트_3.제로웨이스트샵 카카오지도.xlsx')
df

,가게명,가게주소,상세정보
0,원점,서울 성동구 아차산로7길 42 1층 101호 (성수동2가),성수동 제로웨이스트 가게
1,제자리로 (제로웨이스트 쇼룸),햇골길 51,인천 미추홀구 학익동 195-14
2,올바른농민상회,제주특별자치도 제주시 애월읍 일주서로 6585 (애월읍),"농산물, 세제 리필 무포장!"
3,4OuRTH,광주 남구 봉선로186번길 6 (봉선동),인스타 @4_ourth
4,어거스트,석사동 130-85,강원 춘천시 춘천순환로 46 201호
...,...,...,...
182,디어얼스,서울 서대문구 수색로 43 104호 (남가좌동),
183,이지구,경기 수원시 권선구 금곡로 45 엘지빌리지종합상가 3층 (금곡동),
184,알맹상점,서울 마포구 월드컵로 49 2층 (합정동),국내 최초 리필스테이션
185,지구샵,서울 동작구 성대로1길 16 1층 (상도동),지구를 위한 낭비없는 가게
186,더피커,서울 성동구 왕십리로 115 헤이그라운드 9층 (성수동1가),한국 최초 제로웨이스트 숍